<% provide(:title, "Home") %>
<div class="main-visual">
  <div class="main-visual-top-img">
  </div>
  <div class="main-visual-inner">
    <p>心落ち着ける毎日を</p>
    <p>Paxと共に</p>
  </div>
</div>

<!--サービス説明蘭-->
<div class="service-outline">
  <div class="services">
    <h1>Paxでできること</h1>
    <div class="service">
      <img src="/assets/虫眼鏡の無料アイコン10.jpeg" alt="find" class="service-img">
      <h2>見つける</h2>
      <P>ここに「見つける」の説明を入れます</P>
    </div>
    <div class="service">
      <img src="/assets/カレンダーのフリーアイコン20.jpeg" alt="reservation" class="service-img">
      <h2>予約する</h2>
      <P>ここに「予約する」の説明を入れます</P>
    </div>
    <div class="service">
      <img src="/assets/吹き出しのアイコン6.jpeg" alt="reputation" class="service-img">
      <h2>口コミをみる</h2>
      <P>ここに「口コミをみる」の説明を入れます</P>
    </div>
  </div>
</div>

<!--サービスラインナップ-->
<div class="facilities">
  <div class="facility">
    <div class="rain">
      <a class="btn btn-link" href=""><img src="/assets/4030290_m.jpeg" alt="restraunt" class="facility-img"></a>
      <%= link_to "飲食店", "#", class: "Editlink" %>
    </div>
    <div class="rain">
      <a class="btn btn-link" href=""><img src="/assets/059fj21329_TP_V.jpeg" alt="park" class="facility-img"></a>
      <%= link_to "公園", "#", class: "Editlink" %>
    </div>
    <div class="rain">
      <a class="btn btn-link" href=""><img src="/assets/elly20160628465420_TP_V.jpeg" alt="library" class="facility-img"></a>
      <%= link_to "図書館", "#", class: "Editlink" %>
    </div>
    <div class="rain">
      <a class="btn btn-link" href=""><img src="/assets/kyotoDSC_64430190_TP_V.jpg" alt="shrine/temple" class="facility-img"></a>
      <%= link_to "神社・お寺", "#", class: "Editlink" %>
    </div>
    <div class="rain">
      <a class="btn btn-link" href=""><img src="/assets/susipakuAB861PAKU8711_TP_V.jpeg" alt="museum" class="facility-img"></a>
      <%= link_to "美術館・博物館", "#", class: "Editlink" %>
    </div>
    <div class="rain">
      <a class="btn btn-link" href=""><img src="/assets/RED19923036_TP_V.jpeg" alt="others" class="facility-img"></a>
      <%= link_to "その他", "#", class: "Editlink" %>
    </div>
  </div>
</div>