<div class="my_facility_pages">
  <div class="sidebar">
    <h1>
      広告枠
    </h1>
  </div>
  <div class="my_facility_about">
    <%= image_tag @my_facility.top_image.url, alt: "top_image", class:"my_facility_pages_top_image" %>
    <div class="rating">
      <h1>
        <%= @my_facility.facility_name %> <%= @my_facility.branch_name %>
      </h1>
      <div>
        <div class="content average-score">
          <div class="star-rating mb-2">
            <div class="star-rating-back">★★★★★</div>
            <div class="star-rating-front" style="width: <%= @my_facility.review_score_percentage %>%">★★★★★</div>
          </div>
          <div class="average-score-display ml-3 pt-2">
            <%= @my_facility.avg_score %>点（<%= @my_facility.reviews.count %>件のレビュー）
          </div>
   
        </div>
        <p>落ち着いた雰囲気（ここにタグを配置）</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="my_facility_about">
    <h1>
      ここに各施設のイメージ画像を貼る
    </h1>
  </div>
  <div class="my_facility_about">
  　<%= render 'reviews/form', review: @review, my_facility: @my_facility %>
  　<p>ここにクチコミの一部を掲載</p>
  　<%= link_to "他のレビューを見る", my_facility_reviews_path(@my_facility), class: "button light ml-3 mt-3" %>
  </div>
  <div class="my_facility_about">
    <table>
    	<tr>
    		<th>施設名</th>
    		<td><%= @my_facility.facility_name %></td>
    	</tr>
    	<tr>
    		<th>ジャンル</th>
    		<td><%= @my_facility.category %></td>
    	</tr>
    	<tr>
    		<th>住所</th>
    		<td><%= @my_facility.address %></td>
    	</tr>
    	<tr>
    		<th>アクセス</th>
    		<td><%= @my_facility.access %></td>
    	</tr>
    	<tr>
    		<th>問い合わせ</th>
    		<td><%= @my_facility.phone_number %></td>
    	</tr>
    	<tr>
    		<th>営業日</th>
    		<td><%= @my_facility.opening_days %></td>
    	</tr>
    	<tr>
    		<th>営業時間</th>
    		<td><%= @my_facility.opening_hours %></td>
    	</tr>
    	<tr>
    		<th>駐車場</th>
    		<td><%= @my_facility.parking_lot %></td>
    	</tr>
    	<tr>
    		<th>座席数</th>
    		<td><%= @my_facility.seats %></td>
    	</tr>
    	<tr>
    		<th>その他詳細</th>
    		<td><%= @my_facility.details %></td>
    	</tr>
    </table>
  </div>
</div>  