<% provide(:title, "法人登録") %>
<div class="signup forms">
  <h1>新規登録</h1>

  <div class="form">
    <%= form_with(model: @facility, local: true) do |f| %>
    <%= render 'shared/facility_error_messages' %>
      
    <%= f.label :name, "名前" %>
    <%= f.text_field :name, class: 'form-control' %>
    
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "パスワード（再入力）" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "新規登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>