<footer>
      <div class="footer-logo">
        <%= link_to "Pax", root_path %>
      </div>
      <div class="footer-left footer-contents">
        <h3>Paxとは</h3>
          <ul>
            <li><%= link_to "Paxについて", "#" %></li>
            <li><%= link_to "チームメンバー", "#" %></li>
            <li><%= link_to "サイトマップ", "#" %></li>
          </ul>
      </div>
      <div class="footer-center footer-contents">
        <h3>ヘルプ・サポート</h3>
          <ul>
            <li><%= link_to "FAQ", "#" %></li>
            <li><%= link_to "お問い合わせ", "#" %></li>
            <li><%= link_to "利用規約", "#" %></li>
            <li><%= link_to "プライバシーポリシー" %></li>
          </ul>
      </div>
      <div class="footer-rights footer-contents">
        <h3>SNS</h3>
          <ul>
            <li><%= link_to "Twitter" %></li>
            <li><%= link_to "Facebook" %></li>
            <li><%= link_to "Instagram" %></li>
          </ul>
      </div>
    </footer>