<footer>
    <!--<div class="footer-logo">-->
    <!--  <%= link_to "Pax", root_path %>-->
    <!--</div>-->
    <div class="footer-left footer-contents">
      <h3>Paxとは</h3>
        <ul>
          <li><%= link_to "Paxについて", about_pax_path, class: "Editlink" %></li>
          <li><%= link_to "チームメンバー", "#", class: "Editlink" %></li>
          <li><%= link_to "サイトマップ", "#", class: "Editlink" %></li>
        </ul>
    </div>
    <div class="footer-rights footer-contents">
      <h3>法人の方はこちら</h3>
        <ul>
          <li><%= link_to "無料会員登録", facilities_signup_path, class: "Editlink" %></li>
          <li><%= link_to "ログイン", facilities_login_path, class: "Editlink" %></li>
          <li><%= link_to "Paxを使ってお店をPRしましょう！", "#", class: "Editlink" %></li>
        </ul>
    </div>
    <div class="footer-center footer-contents">
      <h3>ヘルプ・サポート</h3>
        <ul>
          <li><%= link_to "FAQ", "#", class: "Editlink" %></li>
          <li><%= link_to "お問い合わせ", "#", class: "Editlink" %></li>
          <li><%= link_to "利用規約", "#", class: "Editlink" %></li>
          <li><%= link_to "プライバシーポリシー", "#", class: "Editlink" %></li>
        </ul>
    </div>
    <div class="clear"></div>
  </footer>