<footer>
      <div class="footer-logo">
        <%= link_to "Pax", root_path %>
      </div>
      <div class="footer-left footer-contents">
        <h3>Paxとは</h3>
          <ul>
            <li><%= link_to "Paxについて", "#" %></li>
            <li><%= link_to "チームメンバー", "#" %></li>
            <li><%= link_to "サイトマップ", "#" %></li>
          </ul>
      </div>
      <div class="footer-rights footer-contents">
        <h3>法人の方はこちら</h3>
          <ul>
            <li><%= link_to "無料会員登録", facilities_signup_path %></li>
            <li><%= link_to "ログイン", facilities_login_path %></li>
            <li><%= link_to "Paxを使ってお店をPRしましょう！" %></li>
          </ul>
      </div>
      <div class="footer-center footer-contents">
        <h3>ヘルプ・サポート</h3>
          <ul>
            <li><%= link_to "FAQ", "#" %></li>
            <li><%= link_to "お問い合わせ", "#" %></li>
            <li><%= link_to "利用規約", "#" %></li>
            <li><%= link_to "プライバシーポリシー" %></li>
          </ul>
      </div>
    </footer>